In [1]:
import pandas as pd

# Question 1

In [2]:
df = pd.read_csv("datasets/NISPUF17.csv",index_col=0)
df.head()

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [3]:
'''Write a function called proportion_of_education which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

This function should return a dictionary in the form of (use the correct numbers, do not round numbers):

    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
'''

def proportion_of_education():
    df = pd.read_csv("datasets/NISPUF17.csv",index_col=0)

    less_than_high_school = (df["EDUC1"] == 1)
    high_school = (df["EDUC1"] == 2)
    more_than_high_school_but_not_college = (df["EDUC1"] == 3)
    college = (df["EDUC1"] == 4)

    answer_set = {}
    answer_set["less than high school"] = len(df[less_than_high_school]) / len(df) 
    answer_set["high school"] = len(df[high_school]) / len(df) 
    answer_set["more than high school but not college"] = len(df[more_than_high_school_but_not_college]) / len(df) 
    answer_set["college"] = len(df[college]) / len(df) 

    answer_set
    
    return answer_set
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

# Question 2

In [37]:
# Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.
## CBF_01  -> Breastfeeding variable.
## P_NUMFLU -> Doses of seasonal influenza
import numpy as np

def average_influenza_doses():

    received_breastmilk = (df["CBF_01"] == 1)
    didnot_received_breastmilk = (df["CBF_01"] == 2)

    tot_breastfed = len(df[received_breastmilk]["P_NUMFLU"].dropna())
    tot_not_breastfed = len(df[didnot_received_breastmilk]["P_NUMFLU"].dropna())

    tot_vac_for_breastfed = np.sum(df[received_breastmilk]["P_NUMFLU"])
    tot_vac_fornot_breastfed = np.sum(df[didnot_received_breastmilk]["P_NUMFLU"])

    tpl = (tot_vac_for_breastfed/tot_breastfed,tot_vac_fornot_breastfed/tot_not_breastfed)
    tpl
    return tpl

average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

# Question 3

In [5]:
# Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. 
# Return results by sex.
## P_NUMVRC – total number of varicella doses
## HAD_CPOX - boolean chickenpox filter. 1 is YES. 2 is NO.
## SEX – sex of child. 1 for male. 2 for female.


hadcpox_vac_male_mask = (df["P_NUMVRC"] > 0) & (df["HAD_CPOX"] == 1) & (df["SEX"] == 1)
nothadcpox_vac_male_mask = (df["P_NUMVRC"] > 0) & (df["HAD_CPOX"] == 2) & (df["SEX"] == 1)
hadcpox_vac_female_mask = (df["P_NUMVRC"] > 0) & (df["HAD_CPOX"] == 1) & (df["SEX"] == 2)
nothadcpox_vac_female_mask = (df["P_NUMVRC"] > 0) & (df["HAD_CPOX"] == 2) & (df["SEX"] == 2)

dic = {"male":len(df[hadcpox_vac_male_mask])/len(df[nothadcpox_vac_male_mask]),
      "female":len(df[hadcpox_vac_female_mask])/len(df[nothadcpox_vac_female_mask])}
dic

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

# Question 4

In [80]:
 #In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given 
# filters: Delete all NaNs from P_NUMVRC ; Delete all 77,99 from HAD_CPOX
# pd.notnull is a mask to exclude nans from a dataframe

import scipy.stats as stats

filter_mask = (df["HAD_CPOX"] != 77) & (df["HAD_CPOX"] != 99) & (pd.notnull(df["P_NUMVRC"]))

corr, pval=stats.pearsonr(df[filter_mask]["HAD_CPOX"],df[filter_mask]["P_NUMVRC"])
corr

0.07044873460147864