In [1]:
import numpy as np
import pandas as pd

# Question 1

In [2]:
'''Question 1
Load the energy data from the file assets/Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of Energy.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]

Convert Energy Supply to gigajoules (Note: there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

Rename the following list of countries (for use in later questions):

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g. 'Bolivia (Plurinational State of)' should be 'Bolivia'. 'Switzerland17' should be 'Switzerland'.

Next, load the GDP data from the file assets/world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.

Make sure to skip the header, and rename the following list of countries:

"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"

Finally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file assets/scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".
'''

'Question 1\nLoad the energy data from the file assets/Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of Energy.\n\nKeep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:\n\n[\'Country\', \'Energy Supply\', \'Energy Supply per Capita\', \'% Renewable]\n\nConvert Energy Supply to gigajoules (Note: there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.\n\nRename the following list of countries (for use in later questions):\n\n"Republic of Korea": "South Korea",\n"United States of America": "United States",\n"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",\n"China, Hong Kong Special Administrative Region": "Hong Kong"\n\nThere are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g. \'Bolivia (Plurinational State of)\' should be \'Bolivia\'. \'Switzerland17\' should be \'Switzerland\'.\n\nNext, load the GDP data from the file assets/world_bank.csv, which is a csv containing countries\' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.\n\nMake sure to skip the header, and rename the following list of countries:\n\n"Korea, Rep.": "South Korea", \n"Iran, Islamic Rep.": "Iran",\n"Hong Kong SAR, China": "Hong Kong"\n\nFinally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file assets/scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.\n\nJoin the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr \'Rank\' (Rank 1 through 15).\n\nThe index of this DataFrame should be the name of the country, and the columns should be [\'Rank\', \'Documents\', \'Citable documents\', \'Citations\', \'Self-citations\', \'Citations per document\', \'H index\', \'Energy Supply\', \'Energy Supply per Capita\', \'% Renewable\', \'2006\', \'2007\', \'2008\', \'2009\', \'2010\', \'2011\', \'2012\', \'2013\', \'2014\', \'2015\'].\n\nThis function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".\n'

## Energy Indicators

In [3]:
# Header -> sets the "starting row" where the reader begins to read. Row (0-indexed) to use for the column labels of the parsed DataFrame. 
    ## If a list of integers is passed those row positions will be combined into a MultiIndex. 
# Names -> List of column names to use. If file contains no header row, then you should explicitly pass header=None.
# usecols -> If str, then indicates comma separated list of Excel column letters and column ranges (e.g. “A:E” or “A,C,E:F”). Ranges are inclusive of both sides.

# dropna deletes all rows with nans

energy=pd.read_excel("datasets\Energy Indicators.xls",
                     header=[17],
                     names=['Country', 'Energy Supply(PJ)', 'Energy Supply per Capita(GJ)', '% Renewable'],
                     usecols="C:F")
energy.dropna(inplace=True)

In [4]:
# transforming PJ to GJ through apply and lambda. apply applies the lambda to every row of the resulting series
energy['Energy Supply(PJ)'] = energy['Energy Supply(PJ)'].apply(lambda x: x*1000000)
energy.head(20)

,Country,Energy Supply(PJ),Energy Supply per Capita(GJ),% Renewable
0,Afghanistan,321000000,10,78.669280
1,Albania,102000000,35,100.000000
2,Algeria,1959000000,51,0.551010
3,American Samoa,.................................................,...,0.641026
4,Andorra,9000000,121,88.695650
5,Angola,642000000,27,70.909090
6,Anguilla,2000000,136,0.000000
7,Antigua and Barbuda,8000000,84,0.000000
8,Argentina,3378000000,79,24.064520
9,Armenia,143000000,48,28.236060
10,Aruba,12000000,120,14.870690
11,Australia1,5386000000,231,11.810810
12,Austria,1391000000,164,72.452820
13,Azerbaijan,567000000,60,6.384345
14,Bahamas,45000000,118,0.000000
15,Bahrain,574000000,425,0.000000
16,Bangladesh,1625000000,10,1.966329
17,Barbados,19000000,69,0.000000
18,Belarus,1142000000,120,0.463389
19,Belgium,2338000000,210,9.959739

In [5]:
# transforming empty values ("...") to nans
# using relative positioning energy.iloc[3].loc["Energy Supply(PJ)"] to replace unfilled values
energy.replace(energy.iloc[3].loc["Energy Supply(PJ)"], np.nan, inplace=True)

In [6]:
# replacing column names directly on attribute to better fit new data
energy.columns = ['Country', 'Energy Supply(GJ)', 'Energy Supply per Capita(GJ)', '% Renewable']
energy.head()

          Country  Energy Supply(GJ) Energy Supply per Capita(GJ)  % Renewable
0     Afghanistan       3.210000e+08                           10    78.669280
1         Albania       1.020000e+08                           35   100.000000
2         Algeria       1.959000e+09                           51     0.551010
3  American Samoa                NaN                          ...     0.641026
4         Andorra       9.000000e+06                          121    88.695650

In [7]:
# cleaning countries with parenthesis

# finding the iloc of the offending countries
# this returns a dataframe with the country AND the "extra part" with proper labelled columns
country_names = energy["Country"].str.extract("(?P<Country>.*)(?P<Extra>\(.*\))").dropna()

#extracting the index loc from the DF as a list
locs = list(country_names.index)

# extracting proper names
names = list(country_names["Country"])

#iterating through index locs list to replace the value
i = 0
for loc in locs:
    energy.loc[loc,["Country"]] = names[i]
    i +=1

In [8]:
# verifying elimination fo paranthesis
energy.loc[[24,70,98,133,183,221,222]]

,Country,Energy Supply(GJ),Energy Supply per Capita(GJ),% Renewable
24,Bolivia,3.360000e+08,32,31.477120
70,Falkland Islands,1.000000e+06,258,33.333330
98,Iran,9.172000e+09,119,5.707721
133,Micronesia,2.000000e+06,21,2.941176
183,Sint Maarten,1.200000e+07,327,0.000000
221,Venezuela,2.871000e+09,95,67.834520
222,Viet Nam,2.554000e+09,28,45.321520

In [9]:
# cleaning countries with numbers in the name

# create a dataframe with country and the digit separated
clean_names = energy["Country"].str.extract("(?P<Country>.*\D)(?P<Digit>\d{1,4})").dropna()

# extracting relevant index locations as a list
locs = list(clean_names.index)

# extracting proper country names as a list
names2 = list(clean_names["Country"])

# iterating through index loc to correct
i=0
for loc in locs:
    energy.loc[loc,["Country"]] = names2[i]
    i += 1

In [10]:
energy.loc[43].iloc[0]

'China, Hong Kong Special Administrative Region'

In [11]:
# replacing countries names as per guidance
# passing a dictionary into replace directly transforms a current value (key) into a new value (value)
energy.replace({"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"}, inplace=True)

In [12]:
energy.loc[43].iloc[0]

'Hong Kong'

In [13]:
# cleaning spaces on a delinquent row!
energy.loc[98,["Country"]] = "Iran"

## GDP Data

In [14]:
# Header -> sets the "starting row" where the reader begins to read. Row (0-indexed) to use for the column labels of the parsed DataFrame. 
    ## If a list of integers is passed those row positions will be combined into a MultiIndex. 

gdp = pd.read_csv("datasets\world_bank.csv", header=4)

In [15]:
# replacing incorrectly named countries.
gdp.replace({"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"}, inplace=True)

# renaming one column for consistency
gdp.rename(columns={"Country Name":"Country"},inplace=True)
gdp.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [16]:
# verifying proper replacement
gdp["Country"].str.extract("(?P<Country>South Korea|Iran|Hong Kong)").dropna()

         Country
93     Hong Kong
109         Iran
123  South Korea

## Sciamgo Journal

In [17]:
scimen = pd.read_excel("datasets\scimagojr-3.xlsx")
scimen.head(15)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

In [18]:
df = pd.merge(scimen.loc[0:14],energy,how="inner",on="Country")
df

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply(GJ),Energy Supply per Capita(GJ),% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,1.271910e+11,93,19.754910
1,2,United States,96661,94747,792274,265436,8.20,230,9.083800e+10,286,11.570980
2,3,Japan,30504,30287,223024,61554,7.31,134,1.898400e+10,149,10.232820
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7.920000e+09,124,10.600470
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,3.070900e+10,214,17.288680
5,6,Canada,17899,17620,215003,40930,12.01,149,1.043100e+10,296,61.945430
6,7,Germany,17027,16831,140566,27426,8.26,126,1.326100e+10,165,17.901530
7,8,India,15005,14841,128763,37209,8.58,115,3.319500e+10,26,14.969080
8,9,France,13153,12973,130632,28601,9.93,114,1.059700e+10,166,17.020280
9,10,South Korea,11983,11923,114675,22595,9.57,104,1.100700e+10,221,2.279353
10,11,Italy,10964,10794,111850,26661,10.20,106,6.530000e+09,109,33.667230
11,12,Spain,9428,9330,123336,23964,13.08,115,4.923000e+09,106,37.968590
12,13,Iran,8896,8819,57470,19125,6.46,72,9.172000e+09,119,5.707721
13,14,Australia,8831,8725,90765,15606,10.28,107,5.386000e+09,231,11.810810
14,15,Brazil,8668,8596,60702,14396,7.00,86,1.214900e+10,59,69.648030

In [19]:
df = pd.merge(df,gdp.loc[:,["Country",'2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']],how="inner",on="Country")
df.set_index("Rank",inplace=True)

# Question 2

In [20]:
'''The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

This function should return a single number. AS PER DISCS, THIS IS THE DIF BETWEEN FULL OUTER AND FULL INNER'''

'The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?\n\nThis function should return a single number. AS PER DISCS, THIS IS THE DIF BETWEEN FULL OUTER AND FULL INNER'

In [21]:
len(df)

15

In [22]:
outer_df = pd.merge(pd.merge(energy,gdp,how="outer",on="Country"),scimen,how="outer",on="Country")
inner_df = pd.merge(pd.merge(energy,gdp,how="inner",on="Country"),scimen,how="inner",on="Country")
len(outer_df) - len(inner_df)

161

# Question 3

In [23]:
'''What are the top 15 countries for average GDP over the last 10 years?

This function should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order.'''

'What are the top 15 countries for average GDP over the last 10 years?\n\nThis function should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order.'

In [24]:
'''DEPRECATED SOLUTION'''

result_ser = pd.DataFrame(gdp[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].apply(lambda x: np.nanmean(x),axis=1))
columns = list(gdp["Country"])
result_ser.index = columns
result_ser.sort_values(0,ascending=False,inplace=True)
#Eliminate these groupings...
result_ser.drop(["World","High income","OECD members","Post-demographic dividend","IDA & IBRD total","Europe & Central Asia",
                 "Low & middle income","Middle income","IBRD only","European Union","East Asia & Pacific","North America","Upper middle income",
                "Late-demographic dividend","Euro area","Early-demographic dividend","East Asia & Pacific (excluding high income)",
                 "East Asia & Pacific (IDA & IBRD countries)","Latin America & Caribbean","Latin America & the Caribbean (IDA & IBRD countries)",
                "Lower middle income","Latin America & Caribbean (excluding high income)","Europe & Central Asia (IDA & IBRD countries)",
                 "Europe & Central Asia (excluding high income)","Middle East & North Africa","South Asia (IDA & IBRD)","South Asia","Arab World","IDA total",
                "Sub-Saharan Africa","Sub-Saharan Africa (IDA & IBRD countries)","Sub-Saharan Africa (excluding high income)",
                "Central Europe and the Baltics","Middle East & North Africa (excluding high income)","Middle East & North Africa (IDA & IBRD countries)"],inplace=True)
#Keep only the top 15 results
result_ser = result_ser.iloc[0:15]
result_ser.rename(columns={0:"avgGDP"},inplace=True)
result_ser = result_ser.squeeze()
result_ser

<ipython-input-24-f6dce33d4e48>:3: RuntimeWarning: Mean of empty slice
  result_ser = pd.DataFrame(gdp[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].apply(lambda x: np.nanmean(x),axis=1))

United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Mexico                1.090990e+12
Name: avgGDP, dtype: float64

In [25]:
'''MUCH BETTER SOLUTION
MUCH MUCHMUCHMUCHMUCHMUCHMUCHMUCHMUCHMUCHMUCHMUCHMUCH BETTER SOLUTION
'''

def average_in(frame):
    frame["avgGDP"] = np.nanmean(frame[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']])
    
    return frame["avgGDP"]

gdp.groupby("Country").apply(average_in)

Country
Afghanistan         2      1.610842e+10
Albania             4      1.177673e+10
Algeria             57     1.177673e+10
American Samoa      9      1.177673e+10
Andorra             1      1.177673e+10
                               ...
West Bank and Gaza  256    1.177673e+10
World               257    1.177673e+10
Yemen, Rep.         259    1.177673e+10
Zambia              262    1.177673e+10
Zimbabwe            263    1.177673e+10
Name: avgGDP, Length: 264, dtype: float64


# Question 4

In [26]:
'''By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

This function should return a single number.'''

'By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?\n\nThis function should return a single number.'

In [27]:
# set GDP's index to be the country, since  we already calculated averages we can skip the discovery step
# retrieve the GDP values for 2015 and substract the GDP value for 2006

gdp.set_index("Country").loc["United Kingdom",["2015"]].iloc[0] - gdp.set_index("Country").loc["United Kingdom",["2006"]].iloc[0]

246702696075.3999

# Question 5

In [28]:
'''What is the mean energy supply per capita?

This function should return a single number.'''

'What is the mean energy supply per capita?\n\nThis function should return a single number.'

In [29]:
# Retrieve the relevant column as a series
# delete the odd ones (values is a dot)
# then apply np.average
np.average(energy["Energy Supply per Capita(GJ)"].drop([3,86,150,210,217]))

90.66666666666667

# Question 6

In [30]:
'''What country has the maximum % Renewable and what is the percentage?

This function should return a tuple with the name of the country and the percentage.'''

'What country has the maximum % Renewable and what is the percentage?\n\nThis function should return a tuple with the name of the country and the percentage.'

In [31]:
# creating a copy of the DF with sorted values
sorted_energy = energy.sort_values("% Renewable", ascending=False)

# since the DF is sorted, retrieve the 1st row (this is a series) and from the first row retrieve the first value (column)
# repeat the indexing and retrieve the 4th row fot the series (% Renewable)
country_and_renewable = (sorted_energy.iloc[0].iloc[0] , sorted_energy.iloc[0].iloc[3])
country_and_renewable

('Bhutan', 100.0)

# Question 7

In [32]:
'''Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?

This function should return a tuple with the name of the country and the ratio.'''

'Question 7\nCreate a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?\n\nThis function should return a tuple with the name of the country and the ratio.'

In [33]:
scimen.head(3)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134

In [34]:
#Defining a function to apply the division logic
def division(frame):
    
    frame["Ratio"] = frame["Self-citations"] / frame["Citations"]
    
    #return only relevant columns
    return frame[["Country","Ratio","Self-citations","Citations"]]

# create a mask to find the indexes with 0s on either side since both are irrelevant
mask_0 = (scimen["Self-citations"] == 0) | (scimen["Citations"] == 0)

# create the list of indexes to delete
to_delete = list(scimen[mask_0].index)

# create a copy WITHOUT 0 values
scimen_copy = scimen.drop(to_delete, axis=0)

# apply division function
scimen_copy = scimen_copy.apply(division, axis=1)

#sort
scimen_copy.sort_values("Ratio", ascending=False, inplace=True)

# assign values to the tuple
country_and_ratio = (scimen_copy.iloc[0].iloc[0], scimen_copy.iloc[0].iloc[3])

In [35]:
country_and_ratio

('French Guiana', 1)

# Question 8

In [36]:
'''Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?

This function should return the name of the country'''

'Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?\n\nThis function should return the name of the country'

In [37]:
energy.head()

          Country  Energy Supply(GJ) Energy Supply per Capita(GJ)  % Renewable
0     Afghanistan       3.210000e+08                           10    78.669280
1         Albania       1.020000e+08                           35   100.000000
2         Algeria       1.959000e+09                           51     0.551010
3  American Samoa                NaN                          ...     0.641026
4         Andorra       9.000000e+06                          121    88.695650

In [38]:
# create a function to calculate the population

def pop(frame):
    
    frame["Population"] = frame["Energy Supply(GJ)"] / frame["Energy Supply per Capita(GJ)"]
    
    return frame


# create a copy of energyDF, drop NaN, and apply the function

energy_copy = energy.dropna().apply(pop, axis=1)

# sort the copy by population
energy_copy.sort_values("Population", ascending=False, inplace=True)

# retrieve the name of the third country

energy_copy.iloc[2].loc["Country"]

'United States'

# Question 9

In [39]:
'''Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).

This function should return a single number.

(Optional: Use the built-in function plot9() to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)'''

"Create a column that estimates the number of citable documents per person. \nWhat is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).\n\nThis function should return a single number.\n\n(Optional: Use the built-in function plot9() to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)"

In [40]:
# join the tables for easier processing
energy_and_scimen = pd.merge(scimen, energy_copy, how="inner", on="Country")

# define a function to process the new column
def docspercapita(frame):
    frame["Docspcapita"] = frame["Citable documents"] / frame["Population"]
    
    return frame
  
# create a mask to delete 0 values from the relevant columns
mask_1 = (energy_and_scimen["Citable documents"] < 1) | (energy_and_scimen["Population"] < 1)

# apply the mask to find the relevant indexes
to_delete2 = list(energy_and_scimen[mask_1].index)

# delete the relevant indexes
energy_and_scimen.drop(to_delete2, axis=0, inplace=True)

# apply the function to create the new column
energy_and_scimen = energy_and_scimen.apply(docspercapita, axis=1)

# find correlation. This accepts the whole column as argument
import scipy.stats as stats

results = stats.pearsonr(energy_and_scimen["Docspcapita"], energy_and_scimen["Energy Supply(GJ)"])
results[0]

0.11698823431104612

# Question 10

In [41]:
'''Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, 
and a 0 if the country's % Renewable value is below the median.

This function should return a series named HighRenew whose index is the country name sorted in ascending order of rank.'''

"Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, \nand a 0 if the country's % Renewable value is below the median.\n\nThis function should return a series named HighRenew whose index is the country name sorted in ascending order of rank."

In [42]:
# recycling copy to re-sort it based on % Renewable
energy_copy.sort_values("% Renewable", ascending=False, inplace=True)

# finding the median of the top 15
median = np.median(energy_copy[["% Renewable"]].iloc[0:15])

# applying a lambda to create the new column
energy_copy["Less_than_Median"] = energy_copy["% Renewable"].apply(lambda x: x>median)

# converting T/F to Integers
energy_copy["Less_than_Median"] = energy_copy["Less_than_Median"].astype(int)

# creating the requested series. Setting index to country. requesting the boolean column
HighRenew = energy_copy.set_index("Country")["Less_than_Median"]

# Question 11

Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size 
(the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
This function should return a DataFrame with index named Continent ['Asia', 'Australia', 'Europe', 'North America', 'South America'] and columns ['size', 'sum', 'mean', 'std']

In [43]:
#create a new column that links the existing dictionary to countries and continents
cont_country = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

# create the new column via apply and lambda.
    ## Lambdas searches for the value in the dictionary and if not found returns nan.
energy_copy["continent"] = energy_copy["Country"].apply(lambda x: cont_country[x] if x in cont_country else np.nan)

# drop nans and assign to a new DF
ret_df = energy_copy.dropna()

# remake DF by:
    #grouping by country
    #calculating statistics based on population
        ## len in this case also calculates the size of the parent "bin"
ret_df = ret_df.groupby("continent").agg({"Population":[np.sum, np.mean, np.std, len]})
ret_df

                 Population
                        sum          mean           std  len
continent
Asia           2.898666e+09  5.797333e+08  6.790979e+08  5.0
Australia      2.331602e+07  2.331602e+07           NaN  1.0
Europe         4.579297e+08  7.632161e+07  3.464767e+07  6.0
North America  3.528552e+08  1.764276e+08  1.996696e+08  2.0
South America  2.059153e+08  2.059153e+08           NaN  1.0

# Question 12

Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

This function should return a Series with a MultiIndex of Continent, then the bins for % Renewable. Do not include groups with no countries.

In [44]:
# creating the bins and storing them in a series/df
cut_df = pd.cut(energy_copy["% Renewable"],6)

# appending a new column based on bins. The order is preserved
energy_copy["% Bins"] = cut_df

In [45]:
'''SOLUTION VIA PIVOT'''

bins_df2 = energy_copy.pivot_table(values="Country", index=["continent","% Bins"], aggfunc=len)
bins_df2

                                Country
continent     % Bins
Asia          (-0.1, 16.667]        4.0
              (16.667, 33.333]      1.0
Australia     (-0.1, 16.667]        1.0
Europe        (-0.1, 16.667]        1.0
              (16.667, 33.333]      3.0
              (33.333, 50.0]        2.0
North America (-0.1, 16.667]        1.0
              (50.0, 66.667]        1.0
South America (66.667, 83.333]      1.0

In [46]:
'''HANDMADE SOLUTION'''

##### creating clean DF without NAs
bins_df = energy_copy.dropna()

# setting multilevel index
bins_df.set_index(["continent","% Bins"],inplace=True)

# grouping by multilevel index and counting the elements of each bin
bins_df = bins_df.groupby(level=(0,1)).agg({"Country":len})

# deleting nans
bins_df.dropna(inplace=True)

# squeezing into a series
bins_df.squeeze()

continent      % Bins
Asia           (-0.1, 16.667]      4.0
               (16.667, 33.333]    1.0
Australia      (-0.1, 16.667]      1.0
Europe         (-0.1, 16.667]      1.0
               (16.667, 33.333]    3.0
               (33.333, 50.0]      2.0
North America  (-0.1, 16.667]      1.0
               (50.0, 66.667]      1.0
South America  (66.667, 83.333]    1.0
Name: Country, dtype: float64

# Question 13

Convert the Population Estimate series to a string with thousands separator (using commas). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12,345,678.90

This function should return a series PopEst whose index is the country name and whose values are the population estimate string

In [56]:
# found in stackoverflow -> ADD THOUSANDS SEPARATOR PYTHON --> {0:,}'.format(1000000)

#applying to create a new column
energy_copy["PopEst"] = energy_copy["Population"].apply(lambda x: '{0:,}'.format(x))

# set the index to the desired column
popest_df = energy_copy.set_index("Country")

#THEY DIDNT SPECIFY TO DROP THE COUNTRIES WITHOUT CONTINENT
popest_df.dropna(inplace=True)

#Retrieve the relevant series
popest_df = popest_df["PopEst"]
popest_df = popest_df.sort_values(ascending=True)
popest_df

Country
India                 1,276,730,769.2307692
China                 1,367,645,161.2903225
Japan                  127,409,395.97315437
Russian Federation            143,500,000.0
Brazil                 205,915,254.23728815
Australia              23,316,017.316017315
United States          317,615,384.61538464
Canada                  35,239,864.86486486
Spain                    46,443,396.2264151
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
France                  63,837,349.39759036
United Kingdom         63,870,967.741935484
Iran                    77,075,630.25210084
Germany                 80,369,696.96969697
Name: PopEst, dtype: object